@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhai 2", sans-serif;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

button {
  padding: 10px 30px;
  border: none;
  transition: 0.2s ease-in-out;
}
button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
/* navbar */
.nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background-color: antiquewhite;
  /* padding: 10px; */
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ................... */
#restaurant-name {
  font-family: "Cursive", "Lucida Handwriting", cursive;
  font-size: 2.8rem;
  font-weight: 700;
  /* color: #b45f04; rich brown-orange color */
  /* text-shadow: 2px 2px 5px rgba(180, 95, 4, 0.7), 0 0 10px #d2a679, */
    /* 0 0 15px #d2a679; */
  color: #5f2f00; /* lighter orange on hover */
  text-shadow: 0 0 8px #ff9933, 0 0 15px #ffb84d, 0 0 20px #ffb84d;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  user-select: none;
}
#restaurant-name:hover {
    color: #ff9933; /* lighter orange on hover */
    text-shadow:
      0 0 8px #010100,
      0 0 15px #50340a,
      0 0 20px #ffb84d;
  }


.container {
  max-width: 1200px;
  margin: 0 auto;
}
.bar {
  font-size: 30px;
  cursor: pointer;
}

/* display page  */

.dis_img {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
video {
  height: 80vh;
  border-radius: 13px;
  box-shadow: 0px 3px 15px rgba(113, 115, 110, 0.9);
}
.dis_content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.tag {
  background-color: #149f39;
  padding: 5px 10px;
  color: white;
  align-self: flex-start;
}

.dis_content h1 {
  font-size: 80px;
  line-height: 1.2;
}
.explore_btn {
  background: #ffc066;
  align-self: flex-start;
  font-size: 20px;
}

/* features */
.features {
  margin: 100px 50px 0 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.feature {
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 0.2s ease-in-out;
}
.feature img {
  width: 72px;
}
.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  cursor: pointer;
}
.divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}

/* <!-- Explore  --> */

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 0;
  align-items: center;
}

.menu .tag {
  padding: 8px 30px;
  align-self: center;
  font-size: 18px;
}

/* grid  */
.grid-image {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.grid-image:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.grid {
  display: grid;
  gap: 15px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}

/* Footer Section */

footer {
  background-color: #fff0db;
}
.link_lists h3 {
  margin-bottom: 10px;
  color: gray;
}
.link_lists ul {
  list-style: none;
}
.link_lists ul li {
  font-size: 16px;
  margin-bottom: 5px;
}
.news_letter h3 {
  margin-bottom: 10px;
  color: gray;
}
.news_letter input {
  padding: 5px 40px;
  margin-bottom: 10px;
}
.footer_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.icon_container {
  display: flex;
  gap: 15px;
  font-size: 32px;
}

.ic1:hover {
  cursor: pointer;
  color: #317ce5;
}
.ic2:hover {
  cursor: pointer;
}
.ic3:hover,
.ic4:hover {
  cursor: pointer;
  color: #cf1212;
}

.foot{
  display: flex;
  justify-content:center ;
}

@media (max-width: 786px) {
  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }
  .hero_image img {
    width: 80%;
  }
  .hero_content {
    gap: 10px;

    padding: 0 20px;
  }
  .hero_content h1 {
    font-size: 32px;
  }
  .features {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
  }
  .grid {
    padding: 10px;
  }
  .grid-image {
    border-radius: 0px;
  }
  .footer_container {
    flex-direction: column;
  }
}
